# Rider - IDE
.idea/
riderModule.iml
/_ReSharper.Caches/

# Environment File
.env

# Compile Folders
bin/
obj/

# Nuget Dependencies
packages/

# Logging Folder
logs/

# Local Solution Settings
ConsiliumTempus-be.sln.DotSettings.*